<%- include("header.ejs")%>
<%- include("nav.ejs")%>

        </header>
        <section class="container">
            <div id="carrinhoProdutos">
                <h2 class="mt-4 mb-4">Meu carrinho</h2>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row text-white border-bottom">
                            <div class="col-sm-3  mt-4 mb-4">Produtos</div>
                            <div class="col-sm-2  mt-4 mb-4">Preço</div>
                            <div class="col-sm-2  mt-4 mb-4">Telas</div>
                            <div class="col-sm-2  mt-4 mb-4">Remover</div>
                
                        </div>
                        <!--Tabela Produtos-->
                        <div id="tabela" class="text-white">
                            <% total = 0
                            carrinho.forEach((item)=>{
                                total += parseFloat(item.valor)
                                %>
                                <div class="row border-bottom produto" data-id="<%=item.carrinho_id%>">
                                    <div class="col-sm-3 mt-4 mb-4">
                                            <img src="/imagens/<%=item.imagem%>" class="img-thumbnail"/>
                                    </div>

                                    <div class="col-sm-2 mt-4 mb-4">
                                        <p class="valorProduto" data-valor="<%=item.valor%>">
                                            <%=item.valor.replace('.', ',')%>
                                        </p>
                                    </div>

                                    <div class="col-sm-2 mt-4 mb-4">
                                        <input type="number" class="telas text-center" min="1" max="5" value="<%=item.qtdTelas%>">
                                    </div>

                                    <div class="col-sm-3 mt-4 mb-4">
                                        <button class="button bt-excluir" data-id="<%=item.carrinho_id%>">Remover</button>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <div class="text-right text-white">Total: R$<%=total.toFixed(2).replace('.', ',')%></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-12 mt-4 mb-4 text-white">Resumo do Pedido</div>
                        <div class="w-100" style="border: 1px solid #f58139;; border-radius: 10px;">
                            <div class="text-white">
                                <div id="somaqtde" class="col-sm-12 mt-4"></div>
                                <div id="total" class="col-sm-12 mt-4">Total: R$<%=total.toFixed(2).replace('.', ',')%></div>
                                <div class="col-sm-12">
                                    <span id="cupom" style="display: none; color:#f58139;">Desconto: R$</span><button
                                        class="button ml-2 mb-3 pt-0 pb-0" id="apagarCupom"
                                        style="display: none; width: 30px;">-</button>
                                    <input type="text" name="cupom" id="aplicarCupom"
                                        style="border: 1px solid #f58139; border-radius: 3px; width:150px; height: 45px;">
                                    <button class="button pt-2" id="btAplicar">Aplicar</button>
                                </div>
                                <div class="col-sm-12 mt-4">
                                    <button class="button" id="btContato" type="button">Continuar</button>
                                </div>
                                <div class="col-sm-12 mt-4 mb-2"><a href="/produtos">Adicionar mais produtos</a></div>
                                <div id="esvaziarCarrinho" data-total="<%=total%>" class="col-sm-12 mb-4"><a href="#">Esvaziar carrinho</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <a href="/singleDeProduto"><img src="../imagens/acao2.jpg" class="img-thumbnail"></a>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="/singleDeProduto"><img src="../imagens/comedia.jpg" class="img-thumbnail"></a>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="/singleDeProduto"><img src="../imagens/terror2.jpg" class="img-thumbnail"></a>
                </div>
            </div>
        </section>
        <!-- <script src="../js/carrinho.js"></script> -->
        <script>
            $().ready(function(){
        $(".bt-excluir").click(function(){ 
            let confirmItem = confirm("Deseja excluir o filme do carrinho?")
            if (confirmItem) {
            let dataId=$(this).attr("data-id")  
            $.post("/delete-carrinho",{
                id:dataId
            }, function(data,status){
                location.href="/carrinho"
            },"json") 
        }
        })
        $("#esvaziarCarrinho").click(function(){
            let total = $(this).attr("data-total")
            if (total == 0 ){
                alert ('O carrinho já está vazio')
            }
            else {
            let confirmAll = confirm("Deseja esvaziar o carrinho?")
            if(confirmAll){
            $.post("/delete-all-carrinho",
                function (data,status){
                    location.href="/carrinho"
                })
            }
        }
        })
        $('.telas').change(function(e){
            let telas = $(e.target).val()
            let idCarrinho = $(e.target).parent().parent().attr('data-id')
            let valorProduto = $(e.target).parent().prev().children().attr('data-valor')
            let porcentagem = 0
            porcentagem = parseFloat(valorProduto * (0.7)/100)
            console.log(porcentagem)
  
            //$(e.target).parent().prev().children().html(valorProduto)
            
            // $.post("/atualiza-carrinho", {
            //     valor: valorProduto.toFixed(2),
            //     qtdTelas: telas,
            //     id: idCarrinho
            // })
        })
    })
        
        </script>
        <%- include("footer.ejs")%>