<%- include("header.ejs")%>
<%- include("nav.ejs")%>

        </header>
        <!--Setor de conteúdo-->
        <section class="row container mt-5 mb-5">
            <div class="col-sm-4 mt-3">
                <iframe class="w-100" width="560" height="315" src="" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 mt-3">
                <iframe class="w-100" width="560" height="315" src="" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-sm-4 mt-3">
                <iframe class="w-100" width="560" height="315" src="" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div id="galeria" class="container mt-5 ">
                <div class="row">

                    <%filmes.forEach((item,n)=>{ %>
                        <%if(n < 4){%>
                            <div class="col-sm-6 mt-1">
                                <h2 class="mt-4 mb-2">
                                    <%=item.titulo%>
                                </h2>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="/singleDeProduto?id=<%=item.filmes_id%>"> <img class="img-thumbnail w-100"
                                                src="imagens/<%=item.imagem%>"></a>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>
                                            <%=item.sinopse.substring(0,215)%>...
                                        </p>
                                        <p style="color: #f58139">
                                            Preço: R$ <%=item.valor.replace(".",",")%>
                                        <p>
                                        <button data-id="<%=item.filmes_id%>" data-filme="<%=item.imagem%>" data-valor="<%=item.valor%>" class="button bt-carrinho">Comprar</button>
                                    </div>
                                </div>
                            </div>

                                <% } %>
                                    <% }) %>
                            </div>
                </div>
            </div>
        </section>
        <%- include("imagensRodape.ejs")%>
<script src="../js/produtos.js"></script>
<script  type="text/javascript">
    $().ready(function(){
        $(".bt-carrinho").click(function(){
            let dataId=$(this).attr("data-id")
            let dataFilme=$(this).attr("data-filme")
            let dataValor=$(this).attr("data-valor")
            $.post("/carrinho",{
                filme: dataId,
                valor: dataValor,
                qtdTelas: 1,
                imagem: dataFilme
            }, function(data,status){
                location.href="/carrinho"
            },"json")
        })
        $('.center').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            arrows: true,
            centerMode: true,
            variableWidth: true,
            infinite: true,
});
        

    })
</script>
<%- include("footer.ejs")%>
