<%- include("header.ejs")%>
<%- include("nav.ejs")%>
</header>
    <section class="container">
        <article>
            <div id="galeria" class="row mb-4">
                <%filmes.forEach((item,n)=>{ %>
                    <%if(n < 6){%>
                        <div class="col-sm-4">
                            <div class="row ">
                                <h2 class="col-sm-12 mt-4 mb-2">
                                    <%=item.titulo%>
                                </h2>
                            <div class="col-sm-7">
                                <a href="/singleDeProduto?id=<%=item.filmes_id%>">
                                <img class="img-thumbnail w-100 " src="imagens/<%=item.imagem%>"></a>
                                <img class="img-promo" src="/imagens/promocao.png">
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    <%=item.ano%><br>
                                    <%=item.categoria%>
                                </p>
                                <p class="mb-1">
                                    <%=item.sinopse.substring(0,70)%>...
                                </p>
                                <p style="color: #f8c543; text-shadow: #520072 2px 2px;" class="mb-0">
                                    Preço: R$ <%=item.valor.replace(".",",")%>
                                </p>
                                <a href="" data-id="<%=item.filmes_id%>" data-filme="<%=item.imagem%>"
                                    data-valor="<%=item.valor%>" class="bt-carrinho ml-4 text-white"><img
                                    src="/imagens/play.png" class="button-play">
                                    <span class="span-play comprar">COMPRAR</span></a>
                            </div>
                         </div>
                </div>
                 <% } %>
                <% }) %>
                </div>
        </article>
        <script>
            $().ready(function () {
                $(".bt-carrinho").click(function () {
                    let dataId = $(this).attr("data-id")
                    let dataFilme = $(this).attr("data-filme")
                    let dataValor = $(this).attr("data-valor")
                    $.post("/carrinho", {
                        filme: dataId,
                        valor: dataValor,
                        qtdTelas: 1,
                        imagem: dataFilme
                    }, function (data, status) {
                        location.href = "/carrinho"
                    }, "json")
                })
            })
        </script>
<%- include("footer.ejs")%>