<%- include("headerAdm.ejs")%>
    <%- include("navAdm.ejs")%>
        <!-- =============== Conteúdo ================== -->

        <section class="container ">
            <h2 class="text-center">Editar Produto - <%=produtoDaVez[0].titulo%>
            </h2>
            <form class="w-50 mx-auto p-3 mt-4 mb-5" style="border: 2px solid #e8673f; border-radius: 12px"
                id="formAtualizaProduto" method="post" action="">
                <fieldset>
                    <div class="form-group">
                        <label>Título:<span style="color:red ;">*</span></label>
                        <input class="form-control" name="titulo" id="" value="<%=produtoDaVez[0].titulo%>" type="text"
                            maxlength="70">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label>Ano:<span style="color:red ;">*</span></label>
                            <input type="number" class="form-control" name="ano" id="" value="<%=produtoDaVez[0].ano%>"
                                type="number" maxlength="4">
                        </div>
                        <div class="form-group col-sm-9">
                            <label>Categoria:<span style="color:red ;">*</span></label>
                            <input class="form-control" name="categoria" id="" value="<%=produtoDaVez[0].categoria%>"
                                type="text" maxlength="30">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Capa do filme:<span style="color:red ;">*</span></label></br>
                            <label for="capa" class="button p-2">Selecionar imagem</label>
                            <input type="file" name="imagem" id="capa" value="<%=produtoDaVez[0].imagem%>" onchange="readURL(this);">
                            <div>
                                <img id="previewImagem" name="imagem" src="imagens/<%=produtoDaVez[0].imagem%>" class="img-thumbnail"
                                    style="width:59%;">
                            </div>
                        </div>
                        <div class="col-7 mb-3">
                            <label>Sinopse:<span style="color:red ;">*</span></label>
                            <textarea class="form-control p-3" rows="10" name="sinopse"
                                id=""><%=produtoDaVez[0].sinopse%></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="promo">Adicionar a lista de promoções?<span style="color:red ;">*</span></label>
                        </br><input type="radio" value="1" id="promo_sim" name="promo"> Sim
                        <input type="radio" value="0" checked id="promo_nao" name="promo"> Não
                    </div>
                    <!-- <div>
                        <label>Imagem:</label>
                        <input class="form-control" name="imagem" id="" value="<%=produtoDaVez[0].imagem%>">
                        <img src="/imagens/<%=produtoDaVez[0].imagem%>" />
                    </div> -->
                    <div>
                        <label>Trailer:<span style="color:red ;">*</label>
                        <input class="form-control" name="trailer" id="" value="<%=produtoDaVez[0].trailer%>"
                            type="text" maxlength="60">
                    </div>
                    <div class="row mt-3">
                        <label class="col-sm-2">Preço:<span style="color:red ;">*</span></label>
                        <input type="number" class="form-control col-sm-2" name="valor" id=""
                            value="<%=produtoDaVez[0].valor%>">
                    </div>
                    <button class="button mt-5 bt-prod" type="button" data-toggle="modal" data-target="#modal-mensagem">Confirmar</button>
                    <button type="button" class="button mt-5 bt-voltar">Voltar</button>

                </fieldset>
            </form>
            <%- include("../modal.ejs")%>
        </section>
           
        <!-- =============== Fim do Conteúdo ================== -->
        <script>
            $().ready(function () {

                $('.bt-prod').click(function () {
                    $.post('/atualizaSingle',
                        {
                            id: '<%=id%>',
                            titulo: $('#formAtualizaProduto input[name=titulo]').val(),
                            categoria: $('#formAtualizaProduto input[name=categoria]').val(),
                            ano: $('#formAtualizaProduto input[name=ano]').val(),
                            sinopse: $('#formAtualizaProduto textarea[name=sinopse]').val(),
                            imagem: $('#capa').attr('value'),
                            promo: $('#formAtualizaProduto input[name=promo]').val(),
                            trailer: $('#formAtualizaProduto input[name=trailer]').val(),
                            valor: $('#formAtualizaProduto input[name=valor]').val()
                        }, function (data, status) {
                            location.href = '/relatorioProdutos'
                        }, 'json')
                })

                $('.bt-voltar').click(function () {
                    location.href = '/adm'
                })
            })
        </script>
        <script src="../../administrador/js/editarProduto.js"></script>
        <%- include("../footer.ejs")%>